<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Admin/Stylesheets/style.css' %}">
    <link rel="stylesheet" href="{% static 'Admin/Stylesheets/table.css' %}">
    <link rel="stylesheet" href="{% static 'Admin/Stylesheets/addForm.css' %}">
    
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Faculty</title> 
    <style>
       .alert {
      padding: 20px;
      background-color: #76d6d3;
      color: white;
      height: 60px;
    }
    
    .closebtn {
      margin-left: 15px;
      color: white;
      font-weight: bold;
      float: right;
      font-size: 22px;
      line-height: 20px;
      cursor: pointer;
      transition: 0.3s;
    }
    
    .closebtn:hover {
      color: black;
    }
        </style>
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
              <img src="static/Admin/images/logo_teccart.png" alt="">
            </div>
        </div>
        <div style="height: 5px; width: 100%; background-color: grey;"></div>


        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="admin_dashboard.html">
                    <i class='bx bxs-dashboard'></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="editProfile.html">
                    <i class='bx bx-user-circle'></i>
                    <span class="link-name">Profile</span>
                </a></li>
                <li><a href="rooms.html">
                    <i class='bx bxs-file-plus'></i>
                    <span class="link-name">Room Details</span>
                </a></li>
                <li><a href="courses.html">
                    <i class='bx bx-selection'></i>
                    <span class="link-name">Course details</span>
                </a></li>
                <li><a href="sections.html">
                    <i class='bx bxs-castle'></i>
                    <span class="link-name">Section Details</span>
                </a>
                </li>
                <li><a href="semesters.html">
                    <i class='bx bxs-objects-horizontal-center'></i>
                    <span class="link-name">Semester Details</span>
                </a></li>
                <li><a href="faculty.html">
                    <i class='bx bxs-user-detail'></i>
                    <span class="link-name" style="color: aqua; font-size: 20px;" >Faculty Details</span>
                </a></li>
                <li><a href="students.html">
                    <i class='bx bxs-user-detail'></i>
                    <span class="link-name">Student Details</span>
                </a></li>
                <li><a href="generate_timetable.html">
                    <i class='bx bx-calendar'></i>
                    <span class="link-name">Generate Timetable</span>
                </a></li>
                <li><a href="viewTimetable.html">
                    <i class='bx bx-time'></i>
                    <span class="link-name">View Timetable</span>
                </a></li>
                <li><a href="check_approval_status.html">
                    <i class='bx bx-select-multiple' ></i>
                    <span class="link-name">Check approval status</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="logout_view">
                    <i class='bx bx-exit'></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class='bx bx-menu sidebar-toggle' id="header-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input name="search" id="search" onkeyup="searchfun()" type="text" placeholder="Search here...">
            </div>
            <!-- <i class='bx bx-upload upload'></i>
            <i class='bx bx-notification notification'></i> -->
            <div class="popup" onclick="myFunction()">
                {% if user.u_profile_pic %}
                    <img class="profilepic" src="{{ user.u_profile_pic.url }}" alt="" style="height: 35px; width: 35px;">
                {% else %}
                    <img class="profilepic" src="static/Admin/images/Profilepic.png" alt="" style="height: 35px; width: 35px;">
                {% endif %}
                
                <div class="popuptext" id="myPopup">
                    {% if user.u_profile_pic %}
                        <img src="{{ user.u_profile_pic.url }}" alt="Profile Picture" style="height: 50px; width: 50px;">
                    {% else %}
                        <img src="static/Admin/images/Profilepic.png" alt="John" style="height: 70px; width: 70px;"">
                    {% endif %}
                    <h1>{{ user.u_name }}</h1>
                    <p class="title">Time table coordinator in CS department</p>
                    <p>GC Women University Sialkot</p>
                    <a href="editProfile.html"><button ><i class='bx bxs-pencil'></i> Edit profile</button></a>
                    
                </div>
            </div>
        </div>


        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class='bx bxs-user-detail'></i>
                    <span class="text">Faculty Members</span>
                    <!-- <form method="POST" action="prefrencefunction" id="form1">
                        {% csrf_token %} -->
                        <button type="submit" onclick="sendNotification()" value="Notify for Email" style=" position: absolute; width: auto; color: white;  background-color:rgb(44, 145, 145);left: 0; top: 50px;  margin-left: 750px; width: auto; border-radius: 7px; border-color: rgb(51, 148, 148);" id="prefbtn2">Send Notification for Preferences</button>
                    <!-- </form> -->
                </div>
                {% for message in messages %}
                {% if message.tags == 'success' %}
                  <!-- sweetalert js -->
                  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                  <script>
                    var m = "{{ message }}";
                    Swal.fire({
                        icon: 'success',
                        text: m,
                        width: '25rem',
                        heightAuto: false,
                        position: 'center',
                        confirmButtonColor: 'darkcyan',
                        backdrop: `
                        rgba(0, 123, 0, 0.4)
                        url("/static/img/loading.gif")
                        center center
                        no-repeat`
                    });
                    </script>
                
                {% endif %}
              {% endfor %}
                <button id="add-button" onclick="showform()" ><i class='bx bx-plus'></i> Add new member</button>
                <form name="Preferences_function"  action="prefrencefunction" style="position: fixed; top: 50%;  border-color: #2B7A77; left: 50%;  transform: translate(-50%, -50%); display: none; background-color: #f2f7f6; padding: 20px; border-radius: 5px; z-index: 9999;" id="Preferences_form" method="post">
                    {% csrf_token %} 
                      
                               
                    <fieldset class="Fieldset" style="color: #76d6d3;">
                        <span class="closebtn" onclick="closePopup();">&times;</span>
                                
                          <h1 style="text-align: center; color: #f2f7f6; top: 120px; background-color:#2B7A77;">Set Timer for Give Preferences</h1>
                          <div class="updateData">
                            <div>
                              <label style="font-size:large; margin: 10px; color: rgb(82, 81, 81);">Start Time</label>
                            </div>
                            <div>
                              
                              {% if startDatetime %}
                              <input style="height: 40px; font-size: 17px; width: 450px; border-radius: 5px; margin: 10px;" type="datetime-local" class="ptime" value="{{ startDatetime|date:'Y-m-d\TH:i' }}:00" id="pstime" name="preference_start_time">
 {% else %}
                                <input style="height: 40px; font-size: 17px; width: 450px; border-radius: 5px; margin: 10px;" type="datetime-local" class="ptime" value="{{ startDatetime|date:'Y-m-d\TH:i' }}" id="pstime" name="approve_start_timee" style="width: 450px;">
                              {% endif %}

                            </div>
                            
                            <div>
                              <label style="font-size:large; margin: 10px; color: rgb(82, 81, 81);">End Time</label>
                            </div>
                            <div>
                              {% if endDatetime %}
                                <input  style="height: 40px; font-size: 17px; width: 450px; border-radius: 5px; margin: 10px;"type="datetime-local" class="ptime" value="{{ endDatetime|date:'Y-m-d\TH:i' }}:00" id="petime" name="preference_end_time" style="width: 450px;">
                              {% else %}
                                <input style="height: 40px; font-size: 17px; width: 450px; border-radius: 5px; margin: 10px;" type="datetime-local" class="ptime" value="" id="petime" name="approve_end_timee" style="width: 450px;">
                              {% endif %}
                            </div>
                            <button id="submitga" type="submit" style="margin-left: 200px ; background-color: #2B7A77;"  style="text-align: center;">Submit</button>
                                
                                </fieldset>
                                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                                <script>
                                $(document).ready(function() {
                                  $('#Preferences_form').on('submit', function(event) {
                                    event.preventDefault(); // prevent the form from submitting normally
                                    var formData = new FormData(this); // create a new FormData object to store the form data
                                    $.ajax({
                                      url: 'prefrencefunction',
                                      type: 'POST',
                                      data: formData,
                                      processData: false, // tell jQuery not to process the data
                                      contentType: false, // tell jQuery not to set contentType
                                      success: function(response) {
                                        // handle the response from the server
                                        location.reload();
                                        window.scrollTo(0, 0);
                                      }
                                    });
                                  });
                                });
                                
                              </script>
                </form>

                <form name="add_faculty" id="add_form" method="post" action="add_faculty">
                    {% csrf_token %} 
                    <div class="heading">Add Faculty details</div>
                    <div class="form-details">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="f_name" required>
                        <label for="type">Email</label>
                        <input type="email" id="email" name="f_email" required>
                        <label for="passward">Passward</label>
                        <input type="password" class="form-control" id="passward"  required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" name="f_password">
                        
                        <label for="Gender">Gender</label>
                        <select name="f_gender">
                            <option>male</option>
                            <option>female</option>
                            <option>transgender</option>
                        </select>
                        <label for="Course">Course taught:</label>
                        
                        <select name="f_courses" multiple>
                            {% for course in courses %}
                            <option>{{course.c_name}}</option>
                            {% endfor %}
                        </select>
                        
                        <label for="Department">Department:</label>
                        <input type="text" id="Department" name="f_department" required>
                        <div class="buttons">
                            <button id="cancel" onclick="cancelform()" type="button">Cancel</button>
                            <button id="cancel" type="submit">Save</button>
                        </div>
                    </div>
                </form>
                {% for message in messages %}
                {% if message.tags == 'error' %}
                  <!-- sweetalert js -->
                  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                  <script>
                    var m = "{{ message }}";
                    Swal.fire({
                      icon: 'info',  // Use error icon
                      // Use cross symbol HTML
                      text: m,
                      confirmButtonColor: '#2B7A77',
                      color: 'red',
                      background: '#C6EDEC',
                      allowEscapeKey: false,
                      icon_color:'red',
                      showClass: {
                        popup: 'my-icon'
                      },
                    });
                  </script>
                
                {% endif %}
              {% endfor %} 
                {% for member in faculty %}
                <form name="edit_faculty" class="edit_form" id="edit_form-{{forloop.counter}}" method="post" action="edit_faculty/{{member.id}}">
                    {% csrf_token %} 
                    <div class="heading">Edit Faculty details</div>
                    <div class="form-details">
                        <label for="name">Name:</label>
                        <input type="text" id="name" name="f_name" value="{{member.u_name}}">
                        <label for="type">Email</label>
                        <input type="email" id="email" name="f_email" value="{{member.u_email}}">
                        <label for="Gender">Gender:</label>
                        <select name="f_gender">
                            <option {% if member.f_gender == 'female' %}selected{% endif %}>female</option>
                            <option {% if member.f_gender == 'male' %}selected{% endif %}>male</option>
                            <option {% if member.f_gender == 'transgender' %}selected{% endif %}>transgender</option>
                        </select>
                        <label for="Course">Course taught:</label>
                        <select name="f_courses" multiple>
                            {% for course in courses %}
                            <option>{{course.c_name}}</option>
                            {% endfor %}
                        </select>
                        <label for="department">Department:</label>
                        <input type="text" id="department" name="f_department" value="{{member.u_department}}">
                        <div class="buttons">
                            <button id="cancel" class="cancel" type="button" data-counter="{{forloop.counter}}" onclick="cancel_edit_form(this.dataset.counter)">Cancel</button>
                            <button id="cancel" type="submit">Save Changes</button>
                        </div>
                    </div>
                </form>
                {% endfor %}
                {% for member in faculty %}
                <form name="mail_faculty" class="mail_form" id="mail_form-{{forloop.counter}}" method="post" action="mail_faculty/{{member.id}}">
                    {% csrf_token %} 
                    <div class="heading">Send password via mail</div>
                    <div class="form-details">
                        <label for="type">Username/Email</label>
                        <input type="email" id="email" name="f_email" value="{{member.u_email}}">
                        <label for="type">Password</label>
                        <input type="password" id="password" name="s_password" value="{{member.u_password}}">
                        <div class="buttons">
                            <button id="cancel" class="cancel" type="button" data-counter="{{forloop.counter}}" onclick="cancel_mail_form(this.dataset.counter)">Cancel</button>
                            <button id="cancel" type="submit">Send mail</button>
                        </div>
                    </div>
                </form>
                {% endfor %}
            </div>
            <section class="intro">
                              <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                <table class="table table-striped mb-0" id="table">
                                  <thead style="background-color: #002d72;">
                                    <tr>
                                      <th scope="col">Name</th>
                                      <th scope="col">Email</th>
                                      <th scope="col">Gender</th>
                                      <th scope="col">Course taught</th>
                                      <th scope="col" >Department</th>
                                      <th scope="col">Time Preferred</th>
                                      <th scope="col">Room Preferred</th>
                                      <th scope="col">Course Preferred</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for member in faculty %}
                                    <tr>
                                        <td>{{ member.u_name}}</td>
                                        <td>{{ member.u_email}}</td>
                                        <td>{{ member.u_gender}}</td>
                                        <td>
                                            <ul>
                                              {% for course in member.f_courses.all %}
                                                <li>{{ course.c_name }}</li>
                                              {% endfor %}
                                            </ul>
                                        <td>{{ member.u_department}}</td>
                                        <td>{{ member.f_startTimePref}} to {{ member.f_endTimePref}} </td>
                                        <td>{{ member.f_RoomPref}}</td>
                                        <td >{{ member.f_CoursePref}}</td>
                                        <td class="action">
                                            <a href="del_faculty/{{ member.id }}">
                                                <i class='bx bxs-trash-alt'></i>
                                            </a>
                                            <a href="javascript:show_edit_form({{forloop.counter}})">
                                                <i class='bx bxs-edit'></i>
                                            </a>
                                            <a href="javascript:show_mail_form({{forloop.counter}})">
                                                <i class='bx bxs-envelope'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
              </section>
                
        </div>
    </section>
    <script src="static/Admin/javascript/addForm.js"></script>
    <script src="static/Admin/javascript/script.js"></script>
    <script>
        function cancelform(){
            document.getElementById('add_form').style.display = "none";
        }
        function cancel_edit_form(counter) {
            var form = document.getElementsByClassName('edit_form')[counter-1];
            form.style.display = 'none';
        }
        function cancel_mail_form(counter) {
            var form = document.getElementsByClassName('mail_form')[counter-1];
            form.style.display = 'none';
        }
    </script>
                <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
                <script>
                $(document).ready(function() {
                  $('#form1').on('submit', function(event) {
                    event.preventDefault(); // prevent the form from submitting normally
                    var formData = new FormData(this); // create a new FormData object to store the form data
                    $.ajax({
                      url: 'prefrencefunction',
                      type: 'POST',
                      data: formData,
                      processData: false, // tell jQuery not to process the data
                      contentType: false, // tell jQuery not to set contentType
                      success: function(response) {
                        // handle the response from the server
                        location.reload();
                        window.scrollTo(0, 0);
                      }
                    });
                  });
                });
                function sendNotification(){
  document.getElementById('Preferences_form').style.display = "block";
}     
function closePopup() {
  const preferences_form = document.getElementById("Preferences_form");
  preferences_form.style.display = 'none';
  
}
                </script>
</body>
</html>