<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'Admin/Stylesheets/style.css' %}">
    <link rel="stylesheet" href="{% static 'Admin/Stylesheets/table.css' %}">
    <link rel="stylesheet" href="{% static 'Admin/Stylesheets/addForm.css' %}">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>semesters</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="static/Admin/images/logo_teccart.png" alt="">
            </div>
        </div>
        <div style="height: 5px; width: 100%; background-color: grey;"></div>


        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="admin_dashboard.html">
                    <i class='bx bxs-dashboard'></i>
                    <span class="link-name">Dashboard</span>
                </a></li>
                <li><a href="editProfile.html">
                    <i class='bx bx-user-circle'></i>
                    <span class="link-name">Profile</span>
                </a></li>
                <li><a href="rooms.html">
                    <i class='bx bxs-file-plus'></i>
                    <span class="link-name">Room Details</span>
                </a></li>
                <li><a href="courses.html">
                    <i class='bx bx-selection'></i>
                    <span class="link-name">Course details</span>
                </a></li>
                <li><a href="sections.html">
                    <i class='bx bxs-castle'></i>
                    <span class="link-name">Section Details</span>
                </a>
                </li>
                <li><a href="semesters.html">
                    <i class='bx bxs-objects-horizontal-center'></i>
                    <span class="link-name" style="color: aqua; font-size: 20px;" >Semester Details</span>
                </a></li>
                <li><a href="faculty.html">
                    <i class='bx bxs-user-detail'></i>
                    <span class="link-name">Faculty Details</span>
                </a></li>
                <li><a href="students.html">
                    <i class='bx bxs-user-detail'></i>
                    <span class="link-name">Student Details</span>
                </a></li>
                <li><a href="generate_timetable.html">
                    <i class='bx bx-calendar'></i>
                    <span class="link-name">Generate Timetable</span>
                </a></li>
                <li><a href="viewTimetable.html">
                    <i class='bx bx-time'></i>
                    <span class="link-name">View Timetable</span>
                </a></li>
                <li><a href="check_approval_status.html">
                    <i class='bx bx-select-multiple' ></i>
                    <span class="link-name">Check approval status</span>
                </a></li>
            </ul>
            
            <ul class="logout-mode">
                <li><a href="logout_view">
                    <i class='bx bx-exit'></i>
                    <span class="link-name">Logout</span>
                </a></li>

                <li class="mode">
                    <a href="#">
                        <i class="uil uil-moon"></i>
                    <span class="link-name">Dark Mode</span>
                </a>

                <div class="mode-toggle">
                  <span class="switch"></span>
                </div>
            </li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class='bx bx-menu sidebar-toggle' id="header-toggle"></i>

            <div class="search-box">
                <i class="uil uil-search"></i>
                <input name="search" id="search" onkeyup="searchfun()" type="text" placeholder="Search here...">
            </div>
            <!-- <i class='bx bx-upload upload'></i>
            <i class='bx bx-notification notification'></i> -->
            <div class="popup" onclick="myFunction()">
                {% if user.u_profile_pic %}
                    <img class="profilepic" src="{{ user.u_profile_pic.url }}" alt="" style="height: 35px; width: 35px;">
                {% else %}
                    <img class="profilepic" src="static/Admin/images/Profilepic.png" alt="" style="height: 35px; width: 35px;">
                {% endif %}
                
                <div class="popuptext" id="myPopup">
                    {% if user.u_profile_pic %}
                        <img src="{{ user.u_profile_pic.url }}" alt="Profile Picture" style="height: 50px; width: 50px;">
                    {% else %}
                        <img src="static/Admin/images/Profilepic.png" alt="John" style="height: 70px; width: 70px;"">
                    {% endif %}
                    <h1>{{ user.u_name }}</h1>
                    <p class="title">Time table coordinator in CS department</p>
                    <p>GC Women University Sialkot</p>
                    <a href="editProfile.html"><button ><i class='bx bxs-pencil'></i> Edit profile</button></a>
                    
                </div>
            </div>

        </div>


        <div class="dash-content">
            <div class="overview">
                <div class="title">
                    <i class='bx bxs-objects-horizontal-center'></i>
                    <span class="text">Semesters</span>
                </div>
                <button id="add-button" onclick="showform()" ><i class='bx bx-plus'></i> Add new semester</button>
                <form name="add_semester" id="add_form" method="post" action="{% url 'add_semester' %}">
                    {% csrf_token %}
                    <div class="heading">Add Semester details</div>
                    <div class="form-details">
                        <label for="semester_no">Semester</label>
                        <select name="semester_no" style="padding: 5px;">
                            <option value="1st">1st</option>
                            <option value="2nd">2nd</option>
                            <option value="3rd">3rd</option>
                            <option value="4th">4th</option>
                            <option value="5th">5th</option>
                            <option value="6th">6th</option>
                            <option value="7th">7th</option>
                            <option value="8th">8th</option>
                        </select>
                        <label for="sections">Section:</label>
                        <select name="sections">
                            {% for section in sections %}
                            <option value="{{ section.section_name }}">{{ section.section_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="num_class_in_week">No of classes in week</label>
                        <input type="text" id="classes" name="num_class_in_week" required>
                        <div class="buttons">
                            <button id="cancel" onclick="cancelform()" type="button">Cancel</button>
                            <button id="save" type="submit">Save</button>
                        </div>
                    </div>
                </form>
                
                {% for semester in semesters %}
                <form name="edit_smester" class="edit_form" id="edit_form-{{forloop.counter}}" method="post" action="/edit_semester/{{semester.id}}">
                    {% csrf_token %} 
                    <div class="heading">Edit Semester details</div>
                    <div class="form-details">
                        <label for="semester_no">Semester</label>
                        <select name="semester_no" style="padding: 5px;">
                            <option value="1st">1st</option>
                            <option value="2nd">2nd</option>
                            <option value="3rd">3rd</option>
                            <option value="4th">4th</option>
                            <option value="5th">5th</option>
                            <option value="6th">6th</option>
                            <option value="7th">7th</option>
                            <option value="8th">8th</option>
                        </select>
                        <label for="section">Section:</label>
                        <select name="section">
                            {% for section in sections %}
                            <option value="{{ section.section_name }}">{{ section.section_name }}</option>
                            {% endfor %}
                        </select>
                        <label for="num_class_in_week">No of classes in week</label>
                        <input type="text" id="classes" name="num_class_in_week" value={{semester.num_class_in_week}} required>
                        <div class="buttons">
                            <button id="cancel" class="cancel" type="button" data-counter="{{forloop.counter}}" onclick="cancel_edit_form(this.dataset.counter)">Cancel</button>
                            <button id="cancel" type="submit">Save Changes</button>
                        </div>
                        
                    </div>
                </form>
            {% endfor %}
            </div>
            <section class="intro">
                              <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                <table class="table table-striped mb-0"  id="table">
                                  <thead style="background-color: #002d72;">
                                    <tr>
                                      <th scope="col">Semester</th>
                                      <th scope="col">Section</th>
                                      <th scope="col">No of classes in week</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for semester in semesters %}
                                    <tr>
                                        <td>{{ semester.semester_no}}</td>
                                        <td>{{ semester.sem_section}}</td>
                                        <td>{{ semester.num_class_in_week}}</td>
                                        <td class="action">
                                            <a href="del_semester/{{ semester.id }}">
                                                <i class='bx bxs-trash-alt'></i>
                                            </a>
                                            <a href="javascript:show_edit_form({{forloop.counter}})">
                                                <i class='bx bxs-edit'></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                              </div>
              </section>
                
        </div>
    </section>
    <script src="static/Admin/javascript/addForm.js"></script>
    <script src="static/Admin/javascript/script.js"></script>
    <script>
        function cancelform(){
            document.getElementById('add_form').style.display = "none";
        }
        function cancel_edit_form(counter) {
            var form = document.getElementsByClassName('edit_form')[counter-1];
            form.style.display = 'none';
        }
    </script>
</body>
</html>